.order {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &__content {
        width: 100%;

        .content-header {
            width: 1248px;
            margin: 0 auto;
            padding: 0 70px;
        }

        margin: 32px auto;
    }
}