.order {
  display: flex;
  justify-content: space-between;
  

  &__side-bar {
    height: 100vh;
  }

  &__content {
    width: 100%;
    margin: 0 auto;

    .content-header {
      width: 1248px;
      margin: 0 auto;
      padding: 32px 65px 0 65px;
    }

    
  }
}
