@keyframes animat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side-bar_open {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(21, 27, 31, 0.81);
  opacity: 0;
  animation: animat 0.5s forwards;

  .option-menu {
    cursor: default;
    z-index: 3;
    width: 50%;
    height: inherit;
    background: #111518;

    &__close-btn {
      padding: 32px 16px;
      svg {
        cursor: pointer;

        &:hover {
          path {
            stroke: #0ec261;
          }
        }
        &:active {
          path {
            stroke: #0fa857;
          }
        }
      }
    }

    &__content {
      max-width: 560px;
      margin: 0 auto;
      .content {
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        height: 198px;

        margin-top: 211px;

        a {
          text-decoration: none;
          cursor: pointer;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          color: #ffffff;

          &:hover {
            color: #0ec261;
          }
          &:active {
            color: #0fa857;
          }
        }
      }

      .socials {
        max-width: 144px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 38px;

        &__telegram {
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: #0ec261;
              }
            }
          }
          &:active {
            svg {
              path {
                fill: #0fa857;
              }
            }
          }
        }
        &__facebook {
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: #0ec261;
              }
            }
          }
          &:active {
            svg {
              path {
                fill: #0fa857;
              }
            }
          }
        }
        &__instagram {
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: #0ec261;
              }
            }
          }
          &:active {
            svg {
              path {
                fill: #0fa857;
              }
            }
          }
        }
      }
    }
  }
}

.side-bar_close {
  overflow: auto;
  max-width: 64px;
  height: 100%;
  background: #151b1f;
  padding: 32px 16px;
  box-sizing: border-box;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__menu-btn {
      height: 32px;
      cursor: pointer;
      &:hover {
        path {
          stroke: #0ec261;
        }
      }

      &:active {
        path {
          stroke: #0fa857;
        }
      }
    }

    &__switch-lang {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      text-align: center;
      font-weight: 700;
      font-size: 13px;
      color: #0ec261;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      span {
        user-select: none;
      }
      &:hover {
        color: #eeeeee;
        border: 1px solid #eeeeee;
        border-radius: 50%;
      }

      &:active {
        color: #0ec261;
      }
    }
  }
}
