:root {
  --swiper-theme-color: #0ec261 !important;
  --swiper-pagination-bullet-inactive-color: #eeeeee;
  --swiper-navigation-color: #eeeeee;
  --swiper-pagination-bullet-inactive-opacity: "";
  --swiper-navigation-size: 20px !important;
}

.swiper {
  margin: 0 !important;
  max-width: 688px;

  .swiper-button-prev {
    top: 1%;
    left: 1px;
    height: 100%;
    width: 64px;

    &:hover {
      background: rgba(#0ec261, 0.2);
    }
  }

  .swiper-button-next {
    top: 1px;
    right: 1px;
    height: 100%;
    width: 64px;

    &:hover {
      background: rgba(#0ec261, 0.2);
    }
  }

  img {
    width: inherit;
    height: inherit;
  }
}
